<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <h2>{{ page_title }}</h2>
                <form action="{{ url_for('process_login') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username.label }}<br>
                        {{ form.username() }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}<br>
                        {{ form.password() }}
                    </div>
                    {{ form.submit }}
                </form>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>

</body>

</html>